{% extends 'base.html.twig' %}

{% block title %}Candidate Tableau de Bord
{% endblock %}

{% block body %}
<div class="Loader"></div>
<div class="wrapper">
	{% include "Partials/header.html.twig" %}
</div>
<div class="clearfix"></div>
<!-- General Detail Start -->
<section class="dashboard-wrap">
	<div class="container-fluid">
		<div class="row">

			<!-- Sidebar Wrap -->
			<div class="col-lg-3 col-md-4">
				<div class="side-dashboard">

					<div class="dashboard-avatar">

						<div class="dashboard-avatar-thumb">
							<img src="{% if Candidate.Avatar != null %}{{ vich_uploader_asset(Candidate, 'imageFile') }}{% else %}{{ asset('assets/img/Utilisateur.svg') }}{% endif %}"
								class="img-avater" alt="" />
						</div>

						<div class="dashboard-avatar-text">
							<h4>{{ Candidate.nom }}
								{{ Candidate.prenom }}</h4>
							<span>{{ Candidate.poste }}</span>
						</div>
					</div>

					<div class="dashboard-menu">
						<ul>
							<li class="TableauDeBord active">
								<a href="#">
									<i class="ti-dashboard"></i>Tableau de Bord</a>
							</li>
							<li class="MonProfile">
								<a href="#">
									<i class="ti-id-badge"></i>Mon Profile</a>
							</li>
							<li class="Resumer">
								<a href="#">
									<i class="ti-wallet"></i>Mon Curriculum Vitae</a>
							</li>
							<li class="AppliJobs">
								<a href="#">
									<i class="ti-hand-point-right"></i>Applied Jobs</a>
							</li>
							<li class="SvgEmploye">
								<a href="#">
									<i class="ti-heart"></i>employe Poster</a>
							</li>
							<li class="AlertEmploye">
								<a href="#">
									<i class="ti-bell"></i>Alert Employe</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Content Wrap -->
			<div class="col-lg-9 col-md-8" id="tableauDebord">
				<div class="dashboard-body">
					<div class="dashboard-caption">

						<div class="dashboard-caption-header">
							<h4>
								<i class="ti-settings"></i>Candidate Dashboard
							</h4>
						</div>

						<div class="dashboard-caption-wrap">

							<!-- Overview -->
							<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="dashboard-stat widget-1">
										<div class="dashboard-stat-content">
											<h4>210</h4>
											<span>Job Poster</span>
										</div>
										<div class="dashboard-stat-icon">
											<i class="ti-location-pin"></i>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="dashboard-stat widget-3">
										<div class="dashboard-stat-content">
											<h4>712</h4>
											<span>Total Views</span>
										</div>
										<div class="dashboard-stat-icon">
											<i class="ti-pie-chart"></i>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="dashboard-stat widget-4">
										<div class="dashboard-stat-content">
											<h4>107</h4>
											<span>Shortlisted</span>
										</div>
										<div class="dashboard-stat-icon">
											<i class="ti-bookmark"></i>
										</div>
									</div>
								</div>
							</div>

							<!-- Notifications -->
							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="dashboard-gravity-list with-icons">
										<h4>Recent Activities</h4>
										<ul>
											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>

											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>

											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>

											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>

											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>

											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>

											<li>
												<i class="dash-icon-box ti-layers"></i>
												You'r shortlisted for
												<strong>
													<a href="#">App Developer</a>
												</strong>
												by Magoo Tech!
												<a href="#" class="close-list-item">
													<i class="fa fa-close"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="col-lg-6 col-md-12">
									<div class="dashboard-gravity-list invoices with-icons">
										<h4>Invoices</h4>
										<ul>

											<li>
												<i class="dash-icon-box ti-files"></i>
												<strong>Starter Plan</strong>
												<ul>
													<li class="unpaid">Unpaid</li>
													<li>Order: #20551</li>
													<li>Date: 01/08/2019</li>
												</ul>
												<div class="buttons-to-right">
													<a href="#" class="button gray">View Invoice</a>
												</div>
											</li>

											<li>
												<i class="dash-icon-box ti-files"></i>
												<strong>Basic Plan</strong>
												<ul>
													<li class="paid">Paid</li>
													<li>Order: #20550</li>
													<li>Date: 01/07/2019</li>
												</ul>
												<div class="buttons-to-right">
													<a href="#" class="button gray">View Invoice</a>
												</div>
											</li>

											<li>
												<i class="dash-icon-box ti-files"></i>
												<strong>Extended Plan</strong>
												<ul>
													<li class="paid">Paid</li>
													<li>Order: #20549</li>
													<li>Date: 01/06/2019</li>
												</ul>
												<div class="buttons-to-right">
													<a href="#" class="button gray">View Invoice</a>
												</div>
											</li>

											<li>
												<i class="dash-icon-box ti-files"></i>
												<strong>Platinum Plan</strong>
												<ul>
													<li class="paid">Paid</li>
													<li>Order: #20548</li>
													<li>Date: 01/05/2019</li>
												</ul>
												<div class="buttons-to-right">
													<a href="#" class="button gray">View Invoice</a>
												</div>
											</li>

											<li>
												<i class="dash-icon-box ti-files"></i>
												<strong>Extended Plan</strong>
												<ul>
													<li class="paid">Paid</li>
													<li>Order: #20547</li>
													<li>Date: 01/04/2019</li>
												</ul>
												<div class="buttons-to-right">
													<a href="#" class="button gray">View Invoice</a>
												</div>
											</li>

											<li>
												<i class="dash-icon-box ti-files"></i>
												<strong>Platinum Plan</strong>
												<ul>
													<li class="paid">Paid</li>
													<li>Order: #20546</li>
													<li>Date: 01/03/2019</li>
												</ul>
												<div class="buttons-to-right">
													<a href="#" class="button gray">View Invoice</a>
												</div>
											</li>

										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

			<!-- Content Wrap -->
			<div class="col-lg-9 col-md-8" id="MomProfile">
				<div class="dashboard-body">
					<div class="dashboard-caption">

						<div class="dashboard-caption-header">
							<h4>
								<i class="ti-id-badge"></i>Mom Profile
							</h4>
						</div>

						<div class="dashboard-caption-wrap">

							{{ form_start(ProfileForm) }}
							<div class="row mrg-top-20">

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-groupe">
										{{ form_label(ProfileForm.imageFile) }}
										<div class="input-groupe">
											{{ form_widget(ProfileForm.imageFile) }}
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="form-groupe">
										{{ form_label(ProfileForm.poste) }}
										<div class="input-groupe">
											{{ form_widget(ProfileForm.poste) }}
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="form-groupe">
										{{ form_label(ProfileForm.Niveau) }}
										<div class="input-groupe">
											{{ form_widget(ProfileForm.Niveau) }}
										</div>
									</div>
								</div>
								{#
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-groupe">
										{{ form_label(ProfileForm.imageFile) }}
										<div class="input-groupe">
											{{ form_widget(ProfileForm.imageFile) }}
										</div>
									</div>
								</div>
								#}
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.Nom) }}
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.Prenom) }}
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.DateDeNaissance) }}
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.sexe) }}
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.Telephone) }}
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.Adresse) }}
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-groupe">
										{{ form_row(ProfileForm.Apropos) }}
									</div>
								</div>

							</div>
							<!-- row -->
							<div class="row mrg-top-30">
								<div class="col-md-12 col-sm-12">
									<div class="form-group text-center">
										<button type="submit" class="btn-savepreview">
											<i class="ti-angle-double-right"></i>Mettre a jour et Changes
											Vitae</button>
									</div>
								</div>
							</div>
							{{ form_end(ProfileForm) }}


						</div>

					</div>
				</div>
			</div>

			<!-- Content Wrap -->
			<div class="col-lg-9 col-md-8" id="Myresume">
				<div class="dashboard-body">
					<div class="dashboard-caption">
						<div class="dashboard-caption-header">
							<h4>
								<i class="ti-briefcase"></i>Candidate Curriculum vitae
							</h4>
						</div>

						<div class="dashboard-caption-wrap">
							<div class="row">

								<div class="col-lg-8 col-md-8">

									<div class="row-bottom">
										<h2 class="detail-title">A propos de la candidat</h2>
										<p>{{ Candidate.Apropos}}
										</p>

									</div>

									<div class="row-bottom">
										<h2 class="detail-title">Experiences Professionnelle</h2>
										<ul class="trim-edu-list">
											{% for Experience in Experiencelist %}
											<li>
												<div class="trim-edu">
													<h4 class="trim-edu-title">{{ Experience.Titre}}<span
															class="title-est">{{ Experience.DateDebut|date('d/m/Y') }} -
															{{
															Experience.DateFin|date('d/m/Y') }}</span></h4>
													<strong>{{ Experience.NomDeSociete }}</strong>
													<p> {{ Experience.Description }}</p>
												</div>
											</li>
											{% endfor %}

										</ul>
										<button href="javascript:void(0)" data-toggle="modal" data-target="#experiences"
											class="btn btn-primary">Ajouter Experiences</button>
									</div>

									<div class="row-bottom">
										<h2 class="detail-title">Education</h2>
										<ul class="trim-edu-list">
											{% for Education in Educationlist %}
											<li>
												<div class="trim-edu">
													<h4 class="trim-edu-title">{{ Education.titre}}<span
															class="title-est">{{ Education.DateDeDebut|date('d/m/Y') }}
															- {{ Education.DateDeFin|date('d/m/Y') }}</span></h4>
													<strong>{{ Education.NomEcole}}</strong>
													<p>{{ Education.Description}}</p>
												</div>
											</li>
											{% endfor %}

										</ul>
										<button href="javascript:void(0)" data-toggle="modal" data-target="#Educations"
											class="btn btn-primary">Ajouter Education</button>
									</div>

									<div class="row-bottom">
										<h2 class="detail-title">Formation</h2>
										<ul class="trim-edu-list">

											{% for Formation in Formationlist %}
											<li>
												<div class="trim-edu">
													<h4 class="trim-edu-title">{{ Formation.formation}}<span
															class="title-est">{{ Formation.DateDebut|date('d/m/Y') }}
															- {{ Formation.DateFin|date('d/m/Y') }}</span></h4>
													<strong>{{ Formation.Etablissement}}</strong>
													<p>{{ Formation.Descirption}}</p>
												</div>
											</li>
											{% endfor %}


										</ul>
										<button href="javascript:void(0)" data-toggle="modal" data-target="#Formations"
											class="btn btn-primary">Ajouter Formation</button>
									</div>

									<div class="row-bottom">
										<h2 class="detail-title">Langues</h2>
										<ul class="trim-edu-list">

											{% for Langue in languelist %}
											<li>
												<div class="trim-edu">
													<strong>{{ Langue.Langue}}</strong>
													<p>{{ Langue.Niveau}}</p>
												</div>
											</li>
											{% endfor %}


										</ul>
										<button href="javascript:void(0)" data-toggle="modal" data-target="#Langues"
											class="btn btn-primary">Ajouter Langue</button>
									</div>

									<div class="row-bottom">
										<h2 class="detail-title">Competences</h2>
										<div class="ext-mrg row third-progress">
											{% for Comptence in Comptencelist %}
											<div class="col-md-6 col-sm-6">
												<div class="panel-body">
													<h3 class="progressbar-title">{{ Comptence.TitreDeCompetence }}</h3>
													<div class="progress">
														<div class="progress-bar"
															style="width: {{ Comptence.ValeurPorcentage }}%; background: #26a9e1;">
															<span class="progress-icon fa fa-plus"
																style="border-color:#26a9e1; color:#26a9e1;"></span>
															<div class="progress-value">{{ Comptence.ValeurPorcentage
																}}%</div>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}

											<button href="javascript:void(0)" data-toggle="modal"
												data-target="#Comptences" class="btn btn-primary">Ajouter
												Competences</button>

										</div>
									</div>

								</div>

								<div class="col-lg-4 col-md-4">
									<div class="full-sidebar-wrap">

										<!-- Candidate overview -->
										<div class="sidebar-widgets">

											<div class="ur-detail-wrap">
												<div class="ur-detail-wrap-header">
													<h4>Candidate Overview</h4>
												</div>
												<div class="ur-detail-wrap-body">
													<ul class="ove-detail-list">

														<li>
															<i class="ti-wallet"></i>
															<h5>Offerd Salary</h5>
															<span>£15,000 - £20,000</span>
														</li>

														<li>
															<i class="ti-user"></i>
															<h5>Gender</h5>
															<span>Male</span>
														</li>

														<li>
															<i class="ti-ink-pen"></i>
															<h5>Career Level</h5>
															<span>Excutive</span>
														</li>

														<li>
															<i class="ti-home"></i>
															<h5>Industry</h5>
															<span>Management</span>
														</li>

														<li>
															<i class="ti-shield"></i>
															<h5>Experience</h5>
															<span>5 Years</span>
														</li>

														<li>
															<i class="ti-book"></i>
															<h5>Qualification</h5>
															<span>Master Degree</span>
														</li>

													</ul>
												</div>
											</div>

										</div>
										<!-- /Candidate overview -->

									</div>
								</div>

							</div>


						</div>
					</div>
				</div>
			</div>

			<!-- Content Wrap -->
			<div class="col-lg-9 col-md-8" id="Applied">
				<div class="dashboard-body">
					<div class="dashboard-caption">

						<div class="dashboard-caption-header">
							<h4>
								<i class="ti-briefcase"></i>Applied Jobs
							</h4>
						</div>

						<div class="dashboard-caption-wrap">

							<!-- row -->
							<div class="row">

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search Name">
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="form-group">
										<select id="jb-filter" class="form-control">
											<option>Choose Job Status</option>
											<option>All Jobs</option>
											<option>Approved Jobs</option>
											<option>Expire Jobs</option>
											<option>Pending Payment</option>
											<option>Rejected Jobs</option>
											<option>Draft Jobs</option>
										</select>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="form-group">
										<select id="application-status" class="form-control">
											<option>Status</option>
											<option>Approved</option>
											<option>Pending</option>
											<option>Rejected</option>
										</select>
									</div>
								</div>

							</div>
							<!-- row -->
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Applied Jobs</th>
											<th scope="col">Employer</th>
											<th scope="col">Applied Date</th>
											<th scope="col">Download CV</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">IOS Designer</a>
											</th>
											<td>Miz Themes</td>
											<td>10 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
														data-placement="top" title=""
														data-original-title="Download Resume">
														<i class="ti-download"></i>
													</a>
												</div>
											</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">IOS Designer</a>
											</th>
											<td>Rokul Tech</td>
											<td>9 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
														data-placement="top" title=""
														data-original-title="Download Resume">
														<i class="ti-download"></i>
													</a>
												</div>
											</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">IOS Designer</a>
											</th>
											<td>Irada Soft</td>
											<td>04 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
														data-placement="top" title=""
														data-original-title="Download Resume">
														<i class="ti-download"></i>
													</a>
												</div>
											</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">IOS Designer</a>
											</th>
											<td>Singoor Ltd</td>
											<td>02 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
														data-placement="top" title=""
														data-original-title="Download Resume">
														<i class="ti-download"></i>
													</a>
												</div>
											</td>
											<td>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Content Wrap -->
			<div class="col-lg-9 col-md-8" id="SaveJobs">
				<div class="dashboard-body">
					<div class="dashboard-caption">

						<div class="dashboard-caption-header">
							<h4>
								<i class="ti-heart"></i>Saved Jobs
							</h4>
						</div>

						<div class="dashboard-caption-wrap">

							<!-- row -->
							<div class="row">

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search Name">
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="form-group">
										<select id="jb-filter" class="form-control">
											<option>Choose Job Status</option>
											<option>All Jobs</option>
											<option>Approved Jobs</option>
											<option>Expire Jobs</option>
											<option>Pending Payment</option>
											<option>Rejected Jobs</option>
											<option>Draft Jobs</option>
										</select>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="form-group">
										<select id="jb-filter-date" class="form-control">
											<option>Default Shorting</option>
											<option>Title</option>
											<option>Date</option>
											<option>Modifications</option>
										</select>
									</div>
								</div>

							</div>
							<!-- row -->

							<ul class="list">
								<li class="manage-list-row clearfix">
									<div class="job-info premium-job">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-1.jpg') }}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">New Product Mockup
												<span class="cl-danger">$25</span>
											</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Art & Design</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>21k - 45k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type full-time">Full Time</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

								<li class="manage-list-row clearfix">
									<div class="job-info">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-2.jpg') }}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">Custom Php Developer</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Sales & Marketing</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>25k - 35k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type part-time">Part Time</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

								<li class="manage-list-row clearfix">
									<div class="job-info premium-job">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-3.jpg')}}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">Web Maintenence
												<span class="cl-danger">$40</span>
											</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Accounting</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>20k - 50k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type full-time">Full Time</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

								<li class="manage-list-row clearfix">
									<div class="job-info premium-job">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-4.jpg') }}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">Photoshop Designer
												<span class="cl-danger">$32</span>
											</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Art & Education</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>20k - 30k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type freelancer">Freelancer</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

								<li class="manage-list-row clearfix">
									<div class="job-info">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-5.jpg') }}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">HTML5 &amp; CSS3 Coder</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Art & Design</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>30k - 40k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type part-time">part Time</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

								<li class="manage-list-row clearfix">
									<div class="job-info">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-6.jpg') }}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">Humar Resource</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Spa & Health</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>25k - 40k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type internship">Internship</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

								<li class="manage-list-row clearfix">
									<div class="job-info premium-job">
										<div class="job-img">
											<img src="{{ asset('assets/img/com-1.jpg') }}" class="attachment-thumbnail"
												alt="Academy Pro Theme">
										</div>
										<div class="job-details">
											<h3 class="job-name">Data Manager<span class="cl-danger">$52</span>
											</h3>
											<small class="job-company">
												<i class="ti-home"></i>
												<a href="#">Hospital</a>
											</small>
											<small class="job-sallery">
												<i class="ti-credit-card"></i>10k - 30k</small>
											<small class="job-update">
												<i class="ti-time"></i>Expired: 6/14/19</small>
											<span class="j-type full-time">Full Time</span>
										</div>
									</div>
									<div class="job-buttons">
										<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Edit">
											<i class="ti-pencil-alt"></i>
										</a>
										<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
											data-placement="top" title="" data-original-title="Remove">
											<i class="ti-close"></i>
										</a>
									</div>
								</li>

							</ul>

							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<i class="ti-arrow-left"></i>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<i class="ti-arrow-right"></i>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>

						</div>

					</div>
				</div>
			</div>

			<!-- Content Wrap -->
			<div class="col-lg-9 col-md-8" id="AlertJobs">
				<div class="dashboard-body">
					<div class="dashboard-caption">

						<div class="dashboard-caption-header">
							<h4>
								<i class="ti-bell"></i>Alerts Jobs
							</h4>
						</div>

						<div class="dashboard-caption-wrap">

							<a href="javascript:void(0)" class="btn-savepreview small-btn mrg-bot-30"
								data-toggle="modal" data-target="#job-alert">
								<i class="ti-bell"></i>New Alert</a>

							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Position</th>
											<th scope="col">Criteria</th>
											<th scope="col">Created Date</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">IOS Designer</a>
											</th>
											<td>Design & Development</td>
											<td>10 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="job-detail-3.html" class="btn btn-gary manage-btn"
														data-toggle="tooltip" data-placement="top" title=""
														data-original-title="Apply Job">
														<i class="ti-hand-point-right"></i>
													</a>
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">Online Teacher</a>
											</th>
											<td>Education & Coachs</td>
											<td>9 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="job-detail-3.html" class="btn btn-gary manage-btn"
														data-toggle="tooltip" data-placement="top" title=""
														data-original-title="Apply Job">
														<i class="ti-hand-point-right"></i>
													</a>
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">Cover Design</a>
											</th>
											<td>Arts, Design, Media</td>
											<td>04 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="job-detail-3.html" class="btn btn-gary manage-btn"
														data-toggle="tooltip" data-placement="top" title=""
														data-original-title="Apply Job">
														<i class="ti-hand-point-right"></i>
													</a>
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">
												<a href="job-detail-3.html">Accounting Post</a>
											</th>
											<td>Accounting Assistant</td>
											<td>02 jan 2020</td>
											<td>
												<div class="job-buttons">
													<a href="job-detail-3.html" class="btn btn-gary manage-btn"
														data-toggle="tooltip" data-placement="top" title=""
														data-original-title="Apply Job">
														<i class="ti-hand-point-right"></i>
													</a>
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip"
														data-placement="top" title="" data-original-title="Remove">
														<i class="ti-close"></i>
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
</section>
<!-- General Detail End -->
<!-- Modal Experiences -->
<div class="modal fade" id="experiences" tabindex="-1" role="dialog" aria-labelledby="Experiences" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="new-logwrap">
					<div class="row">
						{{ form_start(Expform) }}
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Expform.Titre) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Expform.NomDeSociete) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Expform.DateDebut) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(Expform.DateFin) }}
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(Expform.Description) }}
							</div>
						</div>
						<div class="form-groups" style="padding: 0 12px 0 12px !important;">
							<button type="submit" class="btn btn-primary theme-bg full-width">Enregistre</button>
						</div>
						{{ form_end(Expform) }}
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Experiences -->
<!-- Modal Educations -->
<div class="modal fade" id="Educations" tabindex="-1" role="dialog" aria-labelledby="Educations" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="new-logwrap">
					<div class="row">

						{{ form_start(Educationform) }}
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Educationform.titre) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Educationform.NomEcole) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Educationform.DateDeDebut) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(Educationform.DateDeFin) }}
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(Educationform.Description) }}
							</div>
						</div>
						<div class="form-groups" style="padding: 0 12px 0 12px !important;">
							<button type="submit" class="btn btn-primary theme-bg full-width">Enregistre</button>
						</div>
						{{ form_end(Educationform) }}
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Educations -->
<!-- Modal Formations -->
<div class="modal fade" id="Formations" tabindex="-1" role="dialog" aria-labelledby="Formations" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="new-logwrap">
					<div class="row">

						{{ form_start(Formationform) }}
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Formationform.Formation) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Formationform.Etablissement) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="form-group">
								{{ form_row(Formationform.DateDebut) }}
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(Formationform.DateFin) }}
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(Formationform.Descirption) }}
							</div>
						</div>
						<div class="form-groups" style="padding: 0 12px 0 12px !important;">
							<button type="submit" class="btn btn-primary theme-bg full-width">Enregistre</button>
						</div>
						{{ form_end(Formationform) }}

					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Formations -->
<!-- Modal Langue -->
<div class="modal fade" id="Langues" tabindex="-1" role="dialog" aria-labelledby="Langues" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="new-logwrap">
					<div class="row">

						{{ form_start(LangueForm) }}
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								{{ form_row(LangueForm.Langue) }}
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(LangueForm.Niveau) }}
							</div>
						</div>
						<div class="form-groups" style="padding: 0 12px 0 12px !important;">
							<button type="submit" class="btn btn-primary theme-bg full-width">Enregistre</button>
						</div>
						{{ form_end(LangueForm) }}
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Langues -->
<!-- Modal Competences -->
<div class="modal fade" id="Comptences" tabindex="-1" role="dialog" aria-labelledby="Comptences" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="new-logwrap">
					<div class="row">

						{{ form_start(CompetencesForm) }}
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								{{ form_row(CompetencesForm.TitreDeCompetence) }}
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12" style="margin-bottom: 30px !important;">
							<div class="form-group">
								{{ form_row(CompetencesForm.ValeurPorcentage) }}
							</div>
						</div>
						<div class="form-groups" style="padding: 0 12px 0 12px !important;">
							<button type="submit" class="btn btn-primary theme-bg full-width">Enregistre</button>
						</div>
						{{ form_end(CompetencesForm) }}
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Fin Modal Comptences -->
{% include "Partials/footer.html.twig" %}

{% endblock %}
{% block javascripts %}
{#{{ encore_entry_script_tags('app') }}#}
<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/viewportchecker.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/bootsnav.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/datedropper.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/dropzone.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/loader.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/owl.carousel.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/slick.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/gmap3.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.easy-autocomplete.min.js')}}"></script>
<!-- Custom Js -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/plugins/js/counterup.min.js') }}"></script>
<script src="{{ asset('assets/js/jQuery.style.switcher.js')}}"></script>
<script src="{{ asset('assets/js/CandidatTab.js')}}" defer></script>
<script src="{{ asset('assets/js/copyform.js')}}"></script>
{% endblock %}