{% extends 'base.html.twig' %}

{% block title %}Employer Profile
{% endblock %}

{% block body %}
	<div class="Loader"></div>
	<div class="wrapper">
		{% include "Partials/header.html.twig" %}
	</div>
	<div class="clearfix"></div>
	<!-- General Detail Start -->
	<section class="dashboard-wrap">
		<div class="container-fluid">
			<div
				class="row">

				<!-- Sidebar Wrap -->
				<div class="col-lg-3 col-md-4">
					<div class="side-dashboard">

						<div class="dashboard-avatar">

							<div class="dashboard-avatar-thumb">
								<img src="{% if Employer.Avatar != null %}{{ vich_uploader_asset(Employer, 'imageFile') }}{% else %}{{ asset('assets/img/Utilisateur.svg') }}{% endif %}" class="img-avater" alt="Avatar"/>
							</div>

							<div class="dashboard-avatar-text">
								<h4>{{ Employer.nom }}
									{{ Employer.prenom }}</h4>
								<span>{{ Employer.poste }}</span>
							</div>

						</div>

						<div class="dashboard-menu">
							<ul>
								<li class="TableauDeBord active">
									<a href="#">
										<i class="ti-dashboard"></i>Tableau de Bord</a>
								</li>
								<li class="PosteEmploye">
									<a href="#">
										<i class="ti-ruler-pencil"></i>Poster un nouvelle employe</a>
								</li>
								<li class="listEmploye">
									<a href="#">
										<i class="ti-briefcase"></i>Mes employes publier</a>
								</li>
								<li class="Applications">
									<a href="#">
										<i class="ti-user"></i>Mon Societe</a>
								</li>
								<li class="Packages">
									<a href="#">
										<i class="ti-wallet"></i>Packages</a>
								</li>
								<li class="ChoiPackages">
									<a href="#">
										<i class="ti-cup"></i>Choose Packages</a>
								</li>
								<li class="Resumer">
									<a href="#">
										<i class="ti-flag-alt-2"></i>Voire les Resumer</a>
								</li>
								<li class="Profile">
									<a href="#">
										<i class="ti-id-badge"></i>Modifier Mon Profile</a>
								</li>

							</ul>
						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="tableauDebord">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-settings"></i>Employer Tableau de Bord
								</h4>
							</div>

							<div
								class="dashboard-caption-wrap">

								<!-- Overview -->
								<div class="row">
									<div class="col-lg-3 col-md-6 col-sm-12">
										<div class="dashboard-stat widget-1">
											<div class="dashboard-stat-content">
												<h4>210</h4>
												<span>Job Applied</span>
											</div>
											<div class="dashboard-stat-icon">
												<i class="ti-location-pin"></i>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-12">
										<div class="dashboard-stat widget-2">
											<div class="dashboard-stat-content">
												<h4>80</h4>
												<span>Job Alert</span>
											</div>
											<div class="dashboard-stat-icon">
												<i class="ti-bell"></i>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-12">
										<div class="dashboard-stat widget-3">
											<div class="dashboard-stat-content">
												<h4>712</h4>
												<span>Total Views</span>
											</div>
											<div class="dashboard-stat-icon">
												<i class="ti-pie-chart"></i>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-12">
										<div class="dashboard-stat widget-4">
											<div class="dashboard-stat-content">
												<h4>107</h4>
												<span>Shortlisted</span>
											</div>
											<div class="dashboard-stat-icon">
												<i class="ti-bookmark"></i>
											</div>
										</div>
									</div>
								</div>

								<!-- Notifications -->
								<div class="row">
									<div class="col-lg-6 col-md-12">
										<div class="dashboard-gravity-list with-icons">
											<h4>Recent Activities</h4>
											<ul>
												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>

												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>

												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>

												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>

												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>

												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>

												<li>
													<i class="dash-icon-box ti-layers"></i>
													You'r shortlisted for
													<strong>
														<a href="#">App Developer</a>
													</strong>
													by Magoo Tech!
													<a href="#" class="close-list-item">
														<i class="fa fa-close"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="col-lg-6 col-md-12">
										<div class="dashboard-gravity-list invoices with-icons">
											<h4>Invoices</h4>
											<ul>

												<li>
													<i class="dash-icon-box ti-files"></i>
													<strong>Starter Plan</strong>
													<ul>
														<li class="unpaid">Unpaid</li>
														<li>Order: #20551</li>
														<li>Date: 01/08/2019</li>
													</ul>
													<div class="buttons-to-right">
														<a href="#" class="button gray">View Invoice</a>
													</div>
												</li>

												<li>
													<i class="dash-icon-box ti-files"></i>
													<strong>Basic Plan</strong>
													<ul>
														<li class="paid">Paid</li>
														<li>Order: #20550</li>
														<li>Date: 01/07/2019</li>
													</ul>
													<div class="buttons-to-right">
														<a href="#" class="button gray">View Invoice</a>
													</div>
												</li>

												<li>
													<i class="dash-icon-box ti-files"></i>
													<strong>Extended Plan</strong>
													<ul>
														<li class="paid">Paid</li>
														<li>Order: #20549</li>
														<li>Date: 01/06/2019</li>
													</ul>
													<div class="buttons-to-right">
														<a href="#" class="button gray">View Invoice</a>
													</div>
												</li>

												<li>
													<i class="dash-icon-box ti-files"></i>
													<strong>Platinum Plan</strong>
													<ul>
														<li class="paid">Paid</li>
														<li>Order: #20548</li>
														<li>Date: 01/05/2019</li>
													</ul>
													<div class="buttons-to-right">
														<a href="#" class="button gray">View Invoice</a>
													</div>
												</li>

												<li>
													<i class="dash-icon-box ti-files"></i>
													<strong>Extended Plan</strong>
													<ul>
														<li class="paid">Paid</li>
														<li>Order: #20547</li>
														<li>Date: 01/04/2019</li>
													</ul>
													<div class="buttons-to-right">
														<a href="#" class="button gray">View Invoice</a>
													</div>
												</li>

												<li>
													<i class="dash-icon-box ti-files"></i>
													<strong>Platinum Plan</strong>
													<ul>
														<li class="paid">Paid</li>
														<li>Order: #20546</li>
														<li>Date: 01/03/2019</li>
													</ul>
													<div class="buttons-to-right">
														<a href="#" class="button gray">View Invoice</a>
													</div>
												</li>

											</ul>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="PostUnJob">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-ruler-pencil"></i>Publier un noveau Job
								</h4>
							</div>

							<div class="dashboard-caption-wrap">
								{{ form_start(JobForms) }}
								<!-- row -->
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-groupe">
											{{ form_label(JobForms.imageFile) }}
											<div class="input-groupe">
												{{ form_widget(JobForms.imageFile) }}
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(JobForms.Titre) }}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(JobForms.DateExpiration) }}
										</div>
									</div>
								</div>
								<!-- row -->
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<div class="form-group">
											{{ form_row(JobForms.Description) }}
										</div>
									</div>
								</div>
								<!-- row -->
								<div class="row">

									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(JobForms.Category) }}
										</div>
									</div>

									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(JobForms.Type) }}
										</div>
									</div>

									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(JobForms.Niveau) }}
										</div>
									</div>
								</div>
								<!-- row -->
								<div class="row mrg-top-30">
									<div class="col-md-12 col-sm-12">
										<div class="form-group text-center">
											{{ form_row(JobForms.save) }}
										</div>
									</div>
								</div>
								{{ form_end(JobForms) }}

							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="AllJob">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-briefcase"></i>Tous les Jobs
								</h4>
							</div>

							<div
								class="dashboard-caption-wrap">

								<!-- row -->
								<div class="row">

									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Search Name">
										</div>
									</div>

									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="form-group">
											<select id="jb-filter" class="form-control">
												<option>Choose Job Status</option>
												<option>All Jobs</option>
												<option>Approved Jobs</option>
												<option>Expire Jobs</option>
												<option>Pending Payment</option>
												<option>Rejected Jobs</option>
												<option>Draft Jobs</option>
											</select>
										</div>
									</div>

									<div class="col-lg-4 col-md-6 col-sm-12">
										<div class="form-group">
											<select id="jb-filter-date" class="form-control">
												<option>Default Shorting</option>
												<option>Title</option>
												<option>Date</option>
												<option>Modifications</option>
											</select>
										</div>
									</div>

								</div>
								<!-- row -->

								<ul class="list">

									{% for Job in Jobs %}
										<li class="manage-list-row clearfix">
											<div class="job-info premium-job">
												<div class="job-img">
													<img src="{{ asset('assets/img/com-1.jpg') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
												</div>
												<div class="job-details">
													<h3 class="job-name">{{ Job.Titre }}</h3>
													<small class="job-company">
														<i class="ti-home"></i>
														<a href="#">{{ Job.Category }}</a>
													</small>
													<small class="job-sallery">
														<i class="ti-credit-card"></i>
														{{ Job.Niveau }}</small>
													<small class="job-update">
														<i class="ti-time"></i>Expired: 6/14/19</small>
													<span class="j-type full-time">{{ Job.Type }}</span>
												</div>
											</div>
											<div class="job-buttons">
												<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
													<i class="ti-pencil-alt"></i>
												</a>
												<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
													<i class="ti-close"></i>
												</a>
											</div>
											<pre>
										{{ dump(Job) }}
									</pre>
										</li>
									{% endfor %}

								</ul>

								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<i class="ti-arrow-left"></i>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<i class="ti-arrow-right"></i>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>

							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="Applications">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-user"></i>Mon Societe
								</h4>
							</div>

							<div
								class="dashboard-caption-wrap">


								<!-- formulaire de societe -->
								{{ form_start(SocieteForm) }}
								<!-- row -->
								<div class="row mrg-top-30">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(SocieteForm.nom) }}
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="form-group text-center">
											<button type="submit" class="btn-savepreview">
												<i class="ti-angle-double-right"></i>Mettre a jour et Changes
																																																																																																																																																																																																																																																																																																																																																																																																	Vitae</button>
										</div>
									</div>

								</div>
								{{ form_end(SocieteForm) }}
								<!-- formulaire de societe -->


							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="Packages">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-wallet"></i>Packages
								</h4>
							</div>

							<div class="dashboard-caption-wrap">

								<a href="choose-package.html" class="btn-savepreview small-btn mrg-bot-30">
									<i class="ti-angle-double-right"></i>New Package</a>

								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Order</th>
												<th scope="col">Package</th>
												<th scope="col">Jobs Remaining</th>
												<th scope="col">Renew Remaining</th>
												<th scope="col">Job Duration</th>
												<th scope="col">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">
													<a href="#">#1742</a>
												</th>
												<td>Premium</td>
												<td>54</td>
												<td>21</td>
												<td>20 Days</td>
												<td>
													<span data-toggle="tooltip" class="publish" title="" data-original-title="Active">
														<i class="ti-check-box"></i>
													</span>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<a href="#">#1743</a>
												</th>
												<td>Free</td>
												<td>02</td>
												<td>10</td>
												<td>10 Days</td>
												<td>
													<span data-toggle="tooltip" class="publish" title="" data-original-title="Active">
														<i class="ti-check-box"></i>
													</span>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<a href="#">#1744</a>
												</th>
												<td>Premium</td>
												<td>65</td>
												<td>0</td>
												<td>20 Days</td>
												<td>
													<span data-toggle="tooltip" class="unpublish" title="" data-original-title="Inactive">
														<i class="ti-close"></i>
													</span>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<a href="#">#1745</a>
												</th>
												<td>Advance</td>
												<td>44</td>
												<td>07</td>
												<td>30 Days</td>
												<td>
													<span data-toggle="tooltip" class="publish" title="" data-original-title="Active">
														<i class="ti-check-box"></i>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="ChoisePackages">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-wallet"></i>Packages
								</h4>
							</div>

							<div class="dashboard-caption-wrap">
								<div class="table-responsive">
									<table class="table table-responsive">
										<thead>
											<tr>
												<th scope="col">Select</th>
												<th scope="col">Title</th>
												<th scope="col">Price</th>
												<th scope="col">Jobs</th>
												<th scope="col">Feature Jobs</th>
												<th scope="col">Duration</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">
													<label class="custom-radio">
														<input type="radio" checked="checked" name="package">
														<span class="checkmark"></span>
													</label>
												</th>
												<td>Free</td>
												<td>$00</td>
												<td>10</td>
												<td>0</td>
												<td>10 Days</td>
											</tr>

											<tr>
												<th scope="row">
													<label class="custom-radio">
														<input type="radio" checked="checked" name="package">
														<span class="checkmark"></span>
													</label>
												</th>
												<td>Basic</td>
												<td>$49</td>
												<td>30</td>
												<td>5</td>
												<td>15 Days</td>
											</tr>

											<tr>
												<th scope="row">
													<label class="custom-radio">
														<input type="radio" checked="checked" name="package">
														<span class="checkmark"></span>
													</label>
												</th>
												<td>Premium</td>
												<td>$99</td>
												<td>49</td>
												<td>10</td>
												<td>20 Days</td>
											</tr>

											<tr>
												<th scope="row">
													<label class="custom-radio">
														<input type="radio" checked="checked" name="package">
														<span class="checkmark"></span>
													</label>
												</th>
												<td>Advance</td>
												<td>$199</td>
												<td>100</td>
												<td>20</td>
												<td>30 Days</td>
											</tr>
										</tbody>
									</table>
								</div>
								<button type="submit" class="btn-savepreview">
									<i class="ti-angle-double-right"></i>Continue</button>

							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="Resume">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-flag-alt-2"></i>Viewed Resume
								</h4>
							</div>

							<div class="dashboard-caption-wrap">

								<ul class="list">
									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-3.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Adam L. Mock</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>Web Designer</small>
												<small class="job-sallery">
													<i class="ti-time"></i>3 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>London</small>
												<div class="shortlisted-can">shortlisted</div>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message">
												<i class="ti-email"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-2.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Shriya Rukwai</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>Project Manager</small>
												<small class="job-sallery">
													<i class="ti-time"></i>4 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>United State</small>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#" class="btn btn-shortlist manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Shortlist">
												<i class="ti-check"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-1.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Ushwan Uslaf</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>Web Developer</small>
												<small class="job-sallery">
													<i class="ti-time"></i>4 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>United State</small>
												<div class="shortlisted-can">shortlisted</div>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message">
												<i class="ti-email"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-4.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Riya Rajputr</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>Team Lead</small>
												<small class="job-sallery">
													<i class="ti-time"></i>8 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>United State</small>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#" class="btn btn-shortlist manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Shortlist">
												<i class="ti-check"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-3.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Mo. Raj Mishra</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>Java Developer</small>
												<small class="job-sallery">
													<i class="ti-time"></i>6 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>United State</small>
												<div class="shortlisted-can">shortlisted</div>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message">
												<i class="ti-email"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-2.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Neeta Uswan</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>Php Developer</small>
												<small class="job-sallery">
													<i class="ti-time"></i>7 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>United State</small>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#" class="btn btn-shortlist manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Shortlist">
												<i class="ti-check"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

									<li class="manage-list-row clearfix">
										<div class="job-info">
											<div class="job-img">
												<img src="{{ asset('assets/img/can-1.png') }}" class="attachment-thumbnail" alt="Academy Pro Theme">
											</div>
											<div class="job-details">
												<h3 class="job-name">
													<a class="job_name_tag" href="#">Daniel Duke</a>
												</h3>
												<small class="job-company">
													<i class="ti-home"></i>UI/UX Developer</small>
												<small class="job-sallery">
													<i class="ti-time"></i>5.5 Year Ex.</small>
												<small class="job-sallery">
													<i class="ti-location-pin"></i>United State</small>
												<div class="shortlisted-can">shortlisted</div>
												<div class="candi-skill">
													<span class="skill-tag">css</span>
													<span class="skill-tag">HTML</span>
													<span class="skill-tag">Photoshop</span>
												</div>
											</div>
										</div>
										<div class="job-buttons">
											<a href="#" class="btn btn-gary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume">
												<i class="ti-download"></i>
											</a>
											<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message">
												<i class="ti-email"></i>
											</a>
											<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
												<i class="ti-close"></i>
											</a>
										</div>
									</li>

								</ul>

								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<i class="ti-arrow-left"></i>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<i class="ti-arrow-right"></i>
											<span class="sr-only">Next</span>
										</a>
									</li>
								</ul>

							</div>

						</div>
					</div>
				</div>

				<!-- Content Wrap -->
				<div class="col-lg-9 col-md-8" id="MomProfile">
					<div class="dashboard-body">
						<div class="dashboard-caption">

							<div class="dashboard-caption-header">
								<h4>
									<i class="ti-id-badge"></i>Mom Profile
								</h4>
							</div>

							<div class="dashboard-caption-wrap">

								<div class="row mrg-top-20">
									{{ form_start(ProfileEmployeur) }}
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-groupe">
											{{ form_label(ProfileEmployeur.imageFile) }}
											<div class="input-groupe">
												{{ form_widget(ProfileEmployeur.imageFile) }}
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.Nom) }}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.Prenom) }}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.DateDeNaissance) }}
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.Telephone) }}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.Sexe) }}
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.Adresse) }}
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											{{ form_row(ProfileEmployeur.Apropos) }}
										</div>
									</div>
									<!-- row -->
									<div class="row mrg-top-30">
										<div class="col-md-12 col-sm-12">
											<div class="form-group text-center">
												<button type="submit" class="btn-savepreview">
													<i class="ti-angle-double-right"></i>Mettre a jour et Changes
																																																																																																																																																																																																																																																																																																																																																																																																						Vitae</button>
											</div>
										</div>
									</div>
									{{ form_end(ProfileEmployeur) }}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- General Detail End -->
		{% include "Partials/footer.html.twig" %}

	{% endblock %}
	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
		<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/viewportchecker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/bootsnav.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/wysihtml5-0.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap-wysihtml5.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/datedropper.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/dropzone.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/loader.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/owl.carousel.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/slick.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/gmap3.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.easy-autocomplete.min.js')}}"></script>
		<!-- Custom Js -->
		<script src="{{ asset('assets/js/custom.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/counterup.min.js') }}"></script>
		<script src="{{ asset('assets/js/jQuery.style.switcher.js')}}"></script>
		<script src="{{ asset('assets/js/EmployerTab.js')}}" defer></script>
	{% endblock %}
