{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% include "Partials/header.html.twig" %}
	<div class="clearfix"></div>
	<div class="banner trans" style="background-image:url({{ asset('assets/img/slider-1.jpg') }});" data-overlay="6">
		<div class="container">
			<div class="banner-caption">
				<div class="col-md-12 col-sm-12 banner-text">
					<h1>7,000+ de Job</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<section class="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-heading">
						<h2>Liste des Candidats
							<span>Expert</span>
						</h2>
					</div>
				</div>
			</div>
			<!--/row-->

			<div class="row">
				{% for CandidateSenior in CandidateSeniors %}
					<!-- Single Freelancer Style 2 -->
					<div class="col-md-4 col-sm-6">
						<div class="top-candidate-wrap style-2">
							<div class="top-candidate-box">
								<span class="tpc-status">Available</span>
								<h4 class="flc-rate">$17/hr</h4>
								<div class="tp-candidate-inner-box">
									<div class="top-candidate-box-thumb">
										<img src="assets/img/can-5.jpg" class="img-responsive img-circle" alt=""/>
									</div>
									<div class="top-candidate-box-detail">
										<h4>{{CandidateSenior.nom}}
											{{CandidateSenior.prenom}}</h4>
										<span class="location">{{CandidateSenior.Poste}}</span>
									</div>
									<div class="rattings">
										<i class="fa fa-star fill"></i>
										<i class="fa fa-star fill"></i>
										<i class="fa fa-star fill"></i>
										<i class="fa fa-star-half fill"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<div class="top-candidate-box-extra">
									<ul>
										<li>Php</li>
										<li>Android</li>
										<li>Html</li>
										<li class="more-skill bg-primary">+3</li>
									</ul>
								</div>
								<a href="{{ path('candidate_detail', {'id': CandidateSenior.id}) }}" class="btn btn-candidate-two bg-default">View Detail</a>
								<a href="#" class="btn btn-candidate-two bg-info">Shortlist</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>

			<!-- Single Freelancer -->
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="text-center">
						<a href="{{ path('candidate_list') }}" class="btn btn-primary">Voir Plus</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<div class="clearfix"></div>

	<!-- pricing Section Start -->
	<section>
		<div class="container">
			<div class="row">
				<div class="main-heading">
					<p>200 Noveau Jobs</p>
					<h2>List des nouveaux
						<span>Employs</span>
					</h2>
				</div>
			</div>
			<div
				class="row extra-mrg">

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<span class="tg-themetag tg-featuretag">Premium</span>
						<div class="brows-job-type">
							<span class="freelanc">Freelancer</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-2.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">Web Designing</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$3.2K - $5K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">7 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<div class="brows-job-type">
							<span class="full-time">Full Time</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-3.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">App Developer</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$4.2K - $5K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">2 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<div class="brows-job-type">
							<span class="part-time">Part Time</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-4.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">Software Developer</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$6.5K - $8K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">02 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<span class="tg-themetag tg-featuretag">Premium</span>
						<div class="brows-job-type">
							<span class="freelanc">Freelancer</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-5.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">iPhone Developer</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$3.7K - $6K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">04 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<div class="brows-job-type">
							<span class="part-time">Part Time</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-6.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">UI/UX Designer</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$3.2K - $5K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">05 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<span class="tg-themetag tg-featuretag">Premium</span>
						<div class="brows-job-type">
							<span class="full-time">Full Time</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-7.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">Content Writer</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$304K - $6K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">02 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<div class="brows-job-type">
							<span class="enternship">Tnternship</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-7.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">Project Manager</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$37.5K - $8K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">07 Open</span>
							</div>
						</div>
					</div>
				</div>

				<!-- Single New Job -->
				<div class="col-md-3 col-sm-6">
					<div class="job-instructor-layout">
						<span class="tg-themetag tg-featuretag">Premium</span>
						<div class="brows-job-type">
							<span class="full-time">Full Time</span>
						</div>
						<div class="job-instructor-thumb">
							<a href="job-detail.html"><img src="assets/img/com-1.jpg" class="img-fluid" alt=""/></a>
						</div>
						<div class="job-instructor-content">
							<h4 class="instructor-title">
								<a href="job-detail.html">Wordpress Expert</a>
							</h4>
							<div class="instructor-skills">
								CSS3, HTML5, Javascript, Bootstrap, Jquery
							</div>
						</div>
						<div class="job-instructor-footer">
							<div class="instructor-students">
								<h5 class="instructor-scount">$10.2K - $16K</h5>
							</div>
							<div class="instructor-corses">
								<span class="c-counting">02 Open</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Freelancer -->
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-12 col-sm-12">
					<div class="text-center">
						<a href="{{ path('job_list') }}" class="btn btn-primary">Voir Plus</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Candidate Section -->


	{% include "Partials/footer.html.twig" %}
{% endblock %}
