{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% include "Partials/header.html.twig" %}
	<div class="clearfix"></div>
	<div class="banner trans" style="background-image:url({{ asset('assets/img/slider-1.jpg') }});">
		<div class="container">
			<div class="banner-caption">
				<div class="col-md-12 col-sm-12 banner-text">
					<h1>7,000+ de Job</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<section class="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-heading">
						<h2>Liste des Candidats
							<span>Expert</span>
						</h2>
					</div>
				</div>
			</div>
			<!--/row-->

			<div class="row">
				{% for CandidateSenior in CandidateSeniors %}
					<!-- Single Freelancer Style 2 -->
					<div class="col-md-4 col-sm-6">
						<div class="top-candidate-wrap style-2">
							<div class="top-candidate-box">
								<span class="tpc-status">Disponible</span>
								<div class="tp-candidate-inner-box">
									<div class="top-candidate-box-thumb">
										<img src="{{ asset('images/candidats/'~ CandidateSenior.Avatar) }}" class="img-responsive img-circle" alt=""/>
									</div>
									<div class="top-candidate-box-detail">
										<h4>{{CandidateSenior.nom}}
											{{CandidateSenior.prenom}}</h4>
										<span class="location">{{CandidateSenior.Poste}}</span>
									</div>
									<div class="rattings">
										<i class="fa fa-star fill"></i>
										<i class="fa fa-star fill"></i>
										<i class="fa fa-star fill"></i>
										<i class="fa fa-star-half fill"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>
								<div class="top-candidate-box-extra">
									<ul>
										<li>Php</li>
										<li>Android</li>
										<li>Html</li>
										<li class="more-skill bg-primary">+3</li>
									</ul>
								</div>
								<a href="{{ path('candidate_detail', {'id': CandidateSenior.id}) }}" class="btn btn-candidate-two bg-default">View Detail</a>
								<a href="#" class="btn btn-candidate-two bg-info">Shortlist</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>

			<!-- Single Freelancer -->
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="text-center">
						<a href="{{ path('candidate_list') }}" class="btn btn-primary">Voir Plus</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<div class="clearfix"></div>

	<!-- pricing Section Start -->
	<section>
		<div class="container">
			<div class="row">
				<div class="main-heading">
					<p>200 Noveau Jobs</p>
					<h2>List des nouveaux
						<span>Employs</span>
					</h2>
				</div>
			</div>
			<div class="row extra-mrg">

				{% for Job in JobAjours %}
					<!-- Single New Job -->
					<div class="col-md-4 col-sm-6">
						<div class="popular-jobs-container">
							<div class="popular-jobs-box">
								<div class="popular-jobs-box">
									<div class="popular-jobs-box-detail">
										<h4>{{Job.employer.societe.nom}}</h4>
										<span class="desination">{{Job.Titre}}</span>
									</div>
								</div>
								<div class="popular-jobs-box-extra">
									<ul>
										<li>Php</li>
										<li>Android</li>
										<li>Html</li>
										<li class="more-skill bg-primary">+3</li>
									</ul>
								</div>
							</div>
							<a href="{{ path('job_detail', {'id': Job.id}) }}" class="btn btn-popular-jobs bt-1">Voire Detail</a>
						</div>
					</div>
				{% endfor %}


			</div>
			<!-- Single Freelancer -->
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-12 col-sm-12">
					<div class="text-center">
						<a href="{{ path('job_list') }}" class="btn btn-primary">Voir Plus</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Candidate Section -->
	{% include "Partials/footer.html.twig" %}
{% endblock %}
