{% extends "base.html.twig" %}
{% block title %}
	Employe Detail
{% endblock %}
{% block body %}
	<div class="Loader"></div>
	<div class="wrapper">
		{% include "Partials/header.html.twig" %}
		<div class="clearfix"></div>
		<!-- Title Header Start -->
		<section class="inner-header-page">
			<div class="container">

				<div class="col-md-12">
					<div class="left-side-container">
						<div class="freelance-image">
							<a href="company-detail.html"><img src="{{ asset('images/societe/' ~ Societe.Logo ) }}" class="img-responsive" alt="logo"></a>
						</div>
						<div class="header-details">
							<h4>{{ Job.Titre }}</h4>
							<p>{{ Societe.nom }}</p>
							<ul>
								<li>
									<a href="single-company-profile.html">
										<i class="fa fa-user"></i>
										7 Candidat poster</a>
								</li>
								<li>
									<div class="star-rating" data-rating="4.2">
										<span class="fa fa-star fill"></span>
										<span class="fa fa-star fill"></span>
										<span class="fa fa-star fill"></span>
										<span class="fa fa-star fill"></span>
										<span class="fa fa-star-half fill"></span>
									</div>
								</li>
								<li><img class="flag" src="assets/img/gb.svg" alt="">
									{{Job.employer.Adresse}}</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</section>
		<div class="clearfix"></div>
		<!-- Title Header End -->

		<!-- Job Detail Start -->
		<section>
			<div class="container">

				<div class="col-md-8 col-sm-12">
					<div class="container-detail-box">

						<div class="apply-job-header">
							<h4>{{Job.Titre}}</h4>
							<a href="company-detail.html" class="cl-success">
								<span>
									<i class="fa fa-building"></i>
									{{ Societe.nom }}
								</span>
							</a>
							<span>
								<i class="fa fa-map-marker"></i>
								{{Job.employer.Adresse}}</span>
						</div>
						<div class="apply-job-detail">
							<img src="{{ asset('images/job/' ~ Job.Image) }}" alt="jobimages">
						</div>

						<div class="apply-job-detail">
							<p>{{Job.Description}}</p>
						</div>


						<a href="#" class="btn btn-success">Poster</a>

					</div>

					<div class="job-detail-statistic flex-middle-sm">

						<div class="statistic-item flex-middle">
							<div class="icon text-theme">
								<i class="ti-headphone theme-cl"></i>
							</div>
							<span class="text">+261
								{{Job.employer.telephone}}</span>
						</div>

						<div class="statistic-item flex-middle">
							<div class="icon text-theme">
								<i class="ti-email theme-cl"></i>
							</div>
							<span class="text">{{Job.employer.Utilisateur.email}}</span>
						</div>

						<div class="statistic-item flex-middle">
							<div class="icon text-theme">
								<i class="ti-skype theme-cl"></i>
							</div>
							<span class="text">themezhub</span>
						</div>

					</div>

				</div>

				<!-- Sidebar Start-->
				<div
					class="col-md-4 col-sm-12">

					<!-- Share This Job -->
					<div class="sidebar-wrapper">
						<div class="sidebar-box-header bb-1">
							<h4>Partager Job</h4>
						</div>

						<ul class="social-share">
							<li>
								<a href="#" class="fb-share">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" class="tw-share">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" class="gp-share">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#" class="in-share">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="#" class="li-share">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="#" class="be-share">
									<i class="fa fa-behance"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Sidebar -->

			</div>
		</section>
		<!-- Job Detail End -->
		{% include "Partials/footer.html.twig" %}
	{% endblock %}
