{% extends "base.html.twig" %}

{% block title %}
	candidate detail
{% endblock %}
{% block body %}
	{% include "Partials/header.html.twig" %}
	<div class="Loader"></div>
	<div
		class="wrapper">
		<!-- Title Header Start -->
		<section class="inner-header-title" style="background-image:url({{ asset('assets/img/banner-10.jpg') }});">
			<div class="container">
				<h1>Candidate Detail</h1>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- Title Header End -->
		<!-- Candidate Detail Start -->
		<section class="detail-desc">
			<div class="container">

				<div class="ur-detail-wrap top-lay">

					<div class="ur-detail-box">

						<div class="ur-thumb">
							<img src="{{ asset('images/candidats/'~ candidate.Avatar) }}" class="img-responsive" alt="Avatar"/>
						</div>
						<div class="ur-caption">
							<h4 class="ur-title">{{ candidate.prenom}}
								{{ candidate.nom}}</h4>
							<p class="ur-location">
								<i class="ti-location-pin mrg-r-5"></i>
								{{ candidate.adresse}}</p>
							<span class="ur-designation">{{ candidate.poste}}</span>
							<div class="rateing">
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>

					</div>
					<div class="ur-detail-btn">
						<a href="#" class="btn btn-warning mrg-bot-10 full-width">
							<i class="ti-thumb-up mrg-r-5"></i>Shortlist</a><br>
						<a href="{{ path('candidate_telecharger_Cv', {'id': candidate.id}) }}" class="btn btn-info full-width">
							<i class="ti-download mrg-r-5"></i>Telecharger CV</a>
					</div>

				</div>

			</div>
		</section>
		<!-- Candidate Detail End -->
		<!-- Candidate full detail Start -->
		<section class="full-detail-description full-detail">
			<div class="container">
				<div class="row">

					<div
						class="col-lg-8 col-md-8">

						<!-- Apropos-->
						<div class="row-bottom">
							<h2 class="detail-title">A propos de la Candidat</h2>
							{{ candidate.Apropos }}
						</div>
						<!--Fin e APropos-->

						<!--Education-->
						<div class="row-bottom">
							<h2 class="detail-title">Education</h2>
							<ul class="trim-edu-list">
								{% for Education in Educations %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Education.titre }}<span class="title-est">{{ Education.DateDeDebut |date('d/m/Y') }}
													-
													{{ Education.DateDeFin |date('d/m/Y') }}</span>
											</h4>
											<strong>{{ Education.NomEcole }}</strong>
											<p>{{ Education.Description }}</p>
										</div>
									</li>
								{% endfor %}

							</ul>
						</div>
						<!--Fin de Education-->

						<!--Experience-->
						<div class="row-bottom">
							<h2 class="detail-title">Travail & Experience</h2>
							<ul class="trim-edu-list">
								{% for Experience in Experiences %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Experience.Titre }}<span class="title-est">{{ Experience.DateDebut|date('d/m/Y') }}
													-
													{{ Experience.DateFin|date('d/m/Y') }}</span>
											</h4>
											<strong>{{ Experience.NomDeSociete }}</strong>
											<p>{{ Experience.Description }}</p>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
						<!--Fin de Experiences-->

						<!--Formations-->
						<div class="row-bottom">
							<h2 class="detail-title">Formation</h2>
							<ul class="trim-edu-list">
								{% for Formation in Formations %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Formation.Formation }}<span class="title-est">{{ Formation.DateDebut |date("d/m/Y") }}
													-
													{{ Formation.DateFin |date("d/m/Y") }}</span>
											</h4>
											<strong>{{ Formation.Etablissement }}</strong>
											<p>{{ Formation.Descirption }}</p>
										</div>
									</li>
								{% endfor %}

							</ul>
						</div>
						<!--Fin de Formations-->

						<!--Langues-->
						<div class="row-bottom">
							<h2 class="detail-title">Formation</h2>
							<ul class="trim-edu-list">
								{% for Langue in Langues %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Langue.Langue }}</h4>
											<strong>{{ Langue.Niveau }}</strong>

										</div>
									</li>
								{% endfor %}

							</ul>
						</div>
						<!--Fin de Langues-->

						<!--Competences-->
						<div class="row-bottom">
							<h2 class="detail-title">Competences</h2>
							<div class="ext-mrg row third-progress">
								<div class="col-md-6 col-sm-6">
									<div class="panel-body">
										{% for Comptence in Competences %}
											<h3 class="progressbar-title">{{ Comptence.TitreDeCompetence }}</h3>
											<div class="progress">
												<div class="progress-bar" style="width: {{ Comptence.ValeurPorcentage }}%; background: #26a9e1;">
													<span class="progress-icon fa fa-plus" style="border-color:#26a9e1; color:#26a9e1;"></span>
													<div class="progress-value">{{ Comptence.ValeurPorcentage }}%</div>
												</div>
											</div>
										{% endfor %}

									</div>
								</div>

							</div>
						</div>
						<!--Fin de Competences-->

					</div>

					<div class="col-lg-4 col-md-4">
						<div
							class="full-sidebar-wrap">

							<!-- Candidate overview -->
							<div class="sidebar-widgets">

								<div class="ur-detail-wrap">
									<div class="ur-detail-wrap-header">
										<h4>Candidate Overview</h4>
									</div>
									<div class="ur-detail-wrap-body">
										<ul class="ove-detail-list">

											<li>
												<i class="ti-wallet"></i>
												<h5>Salaire estimer</h5>
												<span>£15,000 - £20,000</span>
											</li>

											<li>
												<i class="ti-user"></i>
												<h5>Sexe</h5>
												<span>{{ candidate.sexe}}</span>
											</li>

											<li>
												<i class="ti-ink-pen"></i>
												<h5>Career Level</h5>
												<span>Excutive</span>
											</li>

											<li>
												<i class="ti-home"></i>
												<h5>Societe</h5>
												<span>Management</span>
											</li>

											<li>
												<i class="ti-shield"></i>
												<h5>Experience</h5>
												<span>5 Years</span>
											</li>

											<li>
												<i class="ti-book"></i>
												<h5>Qualification</h5>
												<span>Master Degree</span>
											</li>

										</ul>
									</div>
								</div>

							</div>
							<!-- /Candidate overview -->

						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- company full detail End -->
		{% include "Partials/footer.html.twig" %}
	{% endblock %}
