{% extends "base.html.twig" %}

{% block title %}
	candidate detail
{% endblock %}
{% block body %}
	{% include "Partials/header.html.twig" %}
	<div class="Loader"></div>
	<div
		class="wrapper">
		<!-- Title Header Start -->
		<section class="inner-header-title" style="background-image:url({{ asset('assets/img/banner-10.jpg') }});">
			<div class="container">
				<h1>Candidate Detail</h1>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- Title Header End -->
		<!-- Candidate Detail Start -->
		<section class="detail-desc">
			<div class="container">

				<div class="ur-detail-wrap top-lay">

					<div class="ur-detail-box">

						<div class="ur-thumb">
							<img src="{{ asset('images/candidats/'~ candidate.Avatar) }}" class="img-responsive" alt="Avatar"/>
						</div>
						<div class="ur-caption">
							<h4 class="ur-title">{{ candidate.prenom}}
								{{ candidate.nom}}</h4>
							<p class="ur-location">
								<i class="ti-location-pin mrg-r-5"></i>
								{{ candidate.adresse}}</p>
							<span class="ur-designation">{{ candidate.poste}}</span>
							<div class="rateing">
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star filled"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>

					</div>
					<div class="ur-detail-btn">
						<a href="#" class="btn btn-warning mrg-bot-10 full-width">
							<i class="ti-thumb-up mrg-r-5"></i>Shortlist</a><br>
							{# {{ path('candidate_telecharger_Cv', {'id': candidate.id}) }}#}
						<a href="#" class="btn btn-info full-width" id="checkout-button">
							<i class="ti-download mrg-r-5"></i>Telecharger CV</a>
					</div>

				</div>

			</div>
		</section>
		<!-- Candidate Detail End -->
		<!-- Candidate full detail Start -->
		<section class="full-detail-description full-detail">
			<div class="container">
				<div class="row">
					<div
						class="col-lg-8 col-md-8">

						<!-- Apropos-->
						<div class="row-bottom">
							<h2 class="detail-title">A propos de la Candidat</h2>
							{{ candidate.Apropos }}
						</div>
						<!--Fin e APropos-->

						<!--Education-->
						<div class="row-bottom">
							<h2 class="detail-title">Education</h2>
							<ul class="trim-edu-list">
								{% for Education in Educations %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Education.titre }}<span class="title-est">{{ Education.DateDeDebut |date('d/m/Y') }}
													-
													{{ Education.DateDeFin |date('d/m/Y') }}</span>
											</h4>
											<strong>{{ Education.NomEcole }}</strong>
											<p>{{ Education.Description }}</p>
										</div>
									</li>
								{% endfor %}

							</ul>
						</div>
						<!--Fin de Education-->

						<!--Experience-->
						<div class="row-bottom">
							<h2 class="detail-title">Travail & Experience</h2>
							<ul class="trim-edu-list">
								{% for Experience in Experiences %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Experience.Titre }}<span class="title-est">{{ Experience.DateDebut|date('d/m/Y') }}
													-
													{{ Experience.DateFin|date('d/m/Y') }}</span>
											</h4>
											<strong>{{ Experience.NomDeSociete }}</strong>
											<p>{{ Experience.Description }}</p>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
						<!--Fin de Experiences-->

						<!--Formations-->
						<div class="row-bottom">
							<h2 class="detail-title">Formation</h2>
							<ul class="trim-edu-list">
								{% for Formation in Formations %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Formation.Formation }}<span class="title-est">{{ Formation.DateDebut |date("d/m/Y") }}
													-
													{{ Formation.DateFin |date("d/m/Y") }}</span>
											</h4>
											<strong>{{ Formation.Etablissement }}</strong>
											<p>{{ Formation.Descirption }}</p>
										</div>
									</li>
								{% endfor %}

							</ul>
						</div>
						<!--Fin de Formations-->

						<!--Langues-->
						<div class="row-bottom">
							<h2 class="detail-title">Langues</h2>
							<ul class="trim-edu-list">
								{% for Langue in Langues %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Langue.Langue }}</h4>
											<strong>{{ Langue.Niveau }}</strong>

										</div>
									</li>
								{% endfor %}

							</ul>
						</div>
						<!--Fin de Langues-->

						<!--Competences-->
						<div class="row-bottom">
							<h2 class="detail-title">Competences</h2>
							<ul class="trim-edu-list">
								{% for Comptence in Competences %}
									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">{{ Comptence.Competence }}</h4>
											<strong>{{ Comptence.Niveau }}</strong>
										</div>
									</li>
								{% endfor %}
							</ul>							
						</div>
						<!--Fin de Competences-->						
					</div>

					<div class="col-lg-4 col-md-4">
						<div
							class="full-sidebar-wrap">

							<!-- Candidate overview -->
							<div class="sidebar-widgets">

								<div class="ur-detail-wrap">
									<div class="ur-detail-wrap-header">
										<h4>Candidate Overview</h4>
									</div>
									<div class="ur-detail-wrap-body">
										<ul class="ove-detail-list">

											<li>
												<i class="ti-wallet"></i>
												<h5>Salaire estimer</h5>
												<span>£15,000 - £20,000</span>
											</li>

											<li>
												<i class="ti-user"></i>
												<h5>Sexe</h5>
												<span>{{ candidate.sexe}}</span>
											</li>

											<li>
												<i class="ti-ink-pen"></i>
												<h5>Career Level</h5>
												<span>Excutive</span>
											</li>

											<li>
												<i class="ti-home"></i>
												<h5>Societe</h5>
												<span>Management</span>
											</li>

											<li>
												<i class="ti-shield"></i>
												<h5>Experience</h5>
												<span>5 Years</span>
											</li>

											<li>
												<i class="ti-book"></i>
												<h5>Qualification</h5>
												<span>Master Degree</span>
											</li>

										</ul>
									</div>
								</div>

							</div>
							<!-- /Candidate overview -->

						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- company full detail End -->
		{% include "Partials/footer.html.twig" %}
	{% endblock %}

	{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/viewportchecker.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/bootsnav.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/select2.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/wysihtml5-0.3.0.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap-wysihtml5.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/datedropper.min.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/dropzone.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/loader.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/owl.carousel.min.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/slick.min.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/gmap3.min.js')}}"></script>
			<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.easy-autocomplete.min.js')}}"></script>
			<script src="https://js.stripe.com/v3/"></script>

			<script type="text/javascript">
				// Create an instance of the Stripe object with your publishable API key
				var stripe = Stripe('pk_test_51ItRdLEkkK5KiVZbO4T0YLly2rfugH685sdbL93CftQitfEhWqlZ5Obzc1HQTdUWFf6EFkeeIMifqPXVlM3uxpZc00302Vb4xy');
				var checkoutButton = document.getElementById('checkout-button');

				checkoutButton.addEventListener('click', function() {
					// Create a new Checkout Session using the server-side endpoint you
					// created in step 3.
					fetch('/create-checkout-session', {
					method: 'POST',
					})
					.then(function(response) {
					return response.json();
					})
					.then(function(session) {
					return stripe.redirectToCheckout({ sessionId: session.id });
					})
					.then(function(result) {
					// If `redirectToCheckout` fails due to a browser or network
					// error, you should display the localized error message to your
					// customer using `error.message`.
					if (result.error) {
						alert(result.error.message);
					}
					})
					.catch(function(error) {
					console.error('Error:', error);
					});
				});	
			</script>
		{% endblock %}
