{% extends "base.html.twig" %}
{% block title %}
	List des Candidate
{% endblock %}
{% block body %}
	{% include "Partials/header.html.twig" %}
	<div class="Loader"></div>
	<div
		class="wrapper">
		<!-- Title Header Start -->
		<section class="inner-header-title" style="background-image:url({{ asset('assets/img/banner-10.jpg') }});">
			<div class="container">
				<h1>Candidat liste</h1>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- Title Header End -->
		<!-- Member list start -->
		<section class="member-card gray">
			<div
				class="container d-flex">

				<!-- search filter -->
				<div class="row mb-3">
					<div class="">
						{{ form_start(SearchForm) }}
						<div class="col-md-4 col-sm-4">
							{{ form_widget(SearchForm.Poste) }}
						</div>
						<div class="col-md-3 col-sm-3">
							{{ form_widget(SearchForm.Niveau) }}
						</div>
						<div class="col-md-2 col-sm-2">
							{{ form_widget(SearchForm.Rechercher) }}
						</div>
						{{ form_end(SearchForm) }}

					</div>
				</div>
				<!-- search filter End -->
				<div class="row">
					{% for Candidate in Candidates %}

						<div class="col-md-4 col-sm-6">
							<div class="top-candidate-wrap style-2">
								<div class="top-candidate-box">
									<span class="tpc-status">Disponible</span>
									<div class="tp-candidate-inner-box">
										<div class="top-candidate-box-thumb">
											<img src="{% if Candidate.Avatar != null %}{{ vich_uploader_asset(Candidate, 'imageFile') }}{% else %}{{ asset('assets/img/Utilisateur.svg') }}{% endif %}" class="img-responsive" alt="avatar" class="img-responsive img-circle" alt=""/>
										</div>
										<div class="top-candidate-box-detail">
											<h4>{{ Candidate.nom }}
												{{ Candidate.prenom }}</h4>
											<span class="location">{{ Candidate.poste }}</span>
										</div>
										<div class="rattings">
											<i class="fa fa-star fill"></i>
											<i class="fa fa-star fill"></i>
											<i class="fa fa-star fill"></i>
											<i class="fa fa-star-half fill"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="top-candidate-box-extra">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
										<ul>
											<li>Php</li>
											<li>Android</li>
											<li>Html</li>
											<li class="more-skill bg-primary">+3</li>
										</ul>
									</div>
									<a href="{{ path('candidate_detail', {'id': Candidate.id}) }}" class="btn btn-candidate-two bg-default">Voire Detail</a>
									<a href="#" class="btn btn-candidate-two bg-info">Shortlist</a>
								</div>
							</div>
						</div>

					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-5">
					{{ knp_pagination_render(Candidates) }}
				</div>
			</div>
		</section>
		<!-- Member List End -->
		{% include "Partials/footer.html.twig" %}
	{% endblock %}
	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
		<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/viewportchecker.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/bootsnav.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/wysihtml5-0.3.0.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/bootstrap-wysihtml5.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/datedropper.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/dropzone.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/loader.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/owl.carousel.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/slick.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/gmap3.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/jquery.easy-autocomplete.min.js')}}"></script>
		<!-- Custom Js -->
		<script src="{{ asset('assets/js/custom.js')}}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/counterup.min.js') }}"></script>

		<!-- Custom Js -->
		<script src="{{ asset('assets/js/custom.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/plugins/js/counterup.min.js') }}"></script>
		<script src="{{ asset('assets/js/jQuery.style.switcher.js') }}"></script>
		<script src="{{ asset('assets/js/list.js')}}"></script>
	{% endblock %}
